@media only screen and (max-width: 600px) {

    body{
        width: 100%;
    }

    .container{
        scroll-snap-type: none;
        scroll-snap-type: none;
        scroll-snap-points-y: none;
    }

    section{
        scroll-snap-align: none;
        height: auto;
    }

    #myVideo{
        display: none;
    }

    #header{
        background-image: url("./images/background.png");
        background-size: cover;
        background-attachment: scroll;
    }

    .header-text-div{
        padding: 30% 5% 5% 5% ;
    }

    .header-text-div h1{
        font-size: 5em;
    }

    .header-text-div h2{
        font-size: 2em;
    }

    .div-contact-button{
        margin-top: 30%;
    }

    .div-contact-button a{
        width: 80%;
    }

    nav{
        display: none;
    }

    #solution{
        background-color: white;
        display: inline;
    }

    .solution-image-div{
        width: 90% ;
    }

    .solution-text-div{
        width: 80% ;
        margin: 10% auto ;
    }

    #why{
        height: auto;
        background-attachment: scroll;
    }

    .new-why-item{
        width: 80%;
        display: block;
        padding: 5%;
        margin: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .new-why-img-div{
        width: 30%;

    }

    .new-why-text{
        width: 100%;
      
    }

    .new-why-end-text{
        text-align: center;
    }

    #about{
        display: inline ;
    }

    .about-text-div{
        width: 80% ;
        margin: 10% auto ;

    }

    .about-img-div{
        display: none;
    }

    #important{
        flex-direction: column ;
    }

    .important-text-container{
        width: 90%;
    }

    .important-text-container h3{
        font-size: 1.8em ;
    }

    .important-text-div{
        width: 90%;
        margin: 10% auto;

    }

    .important-text-div div{
        flex-direction: column ;
        margin-bottom: 10%;
    }

    .important-text-div div p{
        text-align: center;
        font-size: 1.2em;
    }

    .important-img-container{
        margin: 8% auto !important;
        width: 60%;
    }


    #news{
        background-color: white;
    }

    .carousel-item{
        height: 300px;
    }

    .carousel-text-div a p{
        font-size: 1.2em;
    }

    .contact-div{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contact-div div{
        width: 50%;
        margin-top: 8%;
    }

    .contact-div div:last-child{
        margin: 10% auto;
    }

    .contact-div div h3 {
        font-size: 1em;
    }

    .contact-div div h4{
        font-size: 0.8em;
    }

    .launches-text{
        font-size: 0.8em;
    }

    .email-div a{
        width: 15%;
    }

    .copyright-text{
        font-size: 0.8em;
    }

    .back-to-top{
        font-size: 3em;
        left: 85%;
    }


}