@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.flex-container{
    display: flex;
}

body{
    margin: 0;
    overflow: hidden;
    
}

.container{
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    overflow-y: scroll;
}

section{
    scroll-snap-align: start none;
    height: 100vh;
}

#news{
    height: auto;
}

#why{
    height: auto;
}

h1{
    font-size: 9em;
    font-family:'Montserrat', sans-serif;
}

h2{
    font-size: 3em;
    text-align: center;
    margin: 1%;
}

.line{
    margin: 0 auto;
    display: block;
    height: 2px;
    width: 120px;
    background-color: rgb(209, 115, 39);
    border-radius: 25%;
}

.bigger-p{
    font-size: 1.2em;
}

#header{
    margin: 0;
    background-image: url("./images/background.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

nav{
    margin: 0;
    padding: 3%;
}

.navbar{
    margin: 0 auto;
    padding: 1%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 15px;
}

.nav-img-div{
    width: 6%;
    margin: auto 0;
}

.nav-img-div img{
    width: 100%;
}


ul{
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li{
    padding: 2% 0;
    color: white;
    list-style: none;
}

ul img{
    width: 6%;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    font-weight: bolder;

}

.header-text-div h1{
    text-align: center;
    color: white;
    margin: 0;
}

.header-text-div h2{
    margin: 0;
    color: white;
    text-align: center;
}

.header-text-div a h3{
    margin: 4%;
    color: white;
    text-align: center;
}

.header-text-div a{
    text-decoration: none;
    color: white;
}

.div-contact-button{
    margin: 2%;
    width: relative;
    display: flex;
    justify-content: center;
}

.div-contact-button a{
    display: flex;
    justify-content: center;
    width: 20%;
}

.header-contact-button{
    width: 100%;
    padding: 4%;
    font-weight: bold;
    border-radius: 25px;
    background: transparent;
    color: white;
    border: 2px solid white;
}

.header-contact-button:hover{
    background-color: white;
    color: #343E47;
}

.header-text-div{
    padding: 5%;
}

#solution{
    justify-content: space-between;
    width: 100%;
}

.solution-image-div{
    width: 40%;
    margin: 5% 0;
}

.solution-text-div{
    width: 30%;
    margin: auto 15%;
}

.solution-text-div p {
    /* text-align: center; */
}

.solution-image-div img{
    width: 100%;
}

#why{
    background-color: #343E47;
    padding: 5%;
    width: 100%;
}

#why h2{
    color: white;
}


#why div p{
    color: white;
    width: 35%;
}

.why-text-div{
    justify-content: center;
    align-content: center;
}

.why-img-div{
    width: 10%;
    padding-top: 3%;
}

.why-text-div div img{
    width: 100%;
}

.why-text-div p{
    margin: 5%;
    width: 30%;
}

/* .why-scooter{
    width: 15%;
} */

.plus-div{
    margin: 5%;
    width: 80px;
    height: 80px;
}

.line-h{
    position: relative;
    top: 50%;
    background-color: rgb(209, 115, 39);
    width: 100%;
    height: 2px;
}

.line-v{
    position: relative;
    left: 50%;
    background-color: rgb(209, 115, 39);
    width: 2px;
    height: 100%;
}

#about{
    width: 100%;
    justify-content: space-between;
}

.about-text-div{
    margin: 12% 15%;
    width: 30%;
}

.about-text-div p{
    /* text-align: center; */
}

.about-img-div img{
    width: 100%;
}

.about-img-div{
    width: 45%;
    margin: 8% 0;
}

#important{
    background-color:  #343E47;
    padding: 5%;
}

.flex-container-important{
    display: flex;
}

.important-text-container{
    margin: auto 5%;
    width: 40%;
}

.important-text-container h3{
    text-align: center;
    color: white;
    font-size: 2.5em;
}

.important-text{
    font-size: 1.9em;
}

.important-text-div{
    width: 50%;
}

.important-text-div div{
    align-content: center;
    margin: 3%
}

.important-text-div div p {
    margin: auto 3%;
    color: white;
    font-size: 1.5em;
}

.important-img-container{
    width: 15%;
    margin: 2%;
}

.important-img-container img{
    width: 100%;
}

.lightening{
    padding-left: 10%;
    width: 70%;
}

#news{
    padding-top: 4%;
    width: 100%;
}

.carousel{
    position: relative;
    width: 80%;
    margin: 5% auto;
}

.item-wraper{
    margin: 3%;
    padding: 1%;
    padding-bottom: 5%;
    overflow: hidden;
}

.next{
    position: absolute;
    top: 40%;
    right: -5%;
    font-size: 2.5em;
    color: rgb(209, 115, 39);
}

.prev{
    position: absolute;
    top: 40%;
    left: -5%;
    font-size: 2.5em;
    color: rgb(209, 115, 39);
}

.carousel-item{ 
    display: inline-block;
    margin: 0 10px;
    width: 30%;
    border-radius: 3%;
    height: 450px;
    box-shadow: 2px 2px 7px grey;
    box-shadow: inset 0px 0px 200px rgba(0,0,0,0.9);
}

.carousel-text-div{
    padding: 4%;
}

.carousel-text-div a{
    color: black;
}

.slick-dots {
	display: flex;
	justify-content: center;
	
	margin: 0 auto;
	padding: 1rem 0;
	
    list-style-type: none;
}
	
.slick-dots li {
    margin: 0 0.25rem;

}

.slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    
    border: none;
    border-radius: 100%;
    background-color: rgb(65, 65, 65, 0.2);
    
    text-indent: -9999px;
}

.slick-dots li.slick-active button {
    background-color: rgb(65, 65, 65, 0.8);
}

.news-orange-text{
    color: orange; 
    margin: 0;
}

.news-text{
    font-size: 1.3em;
    color: white;
    font-weight: bolder;
}

#contact{
    background-color:  #343E47;
    padding: 3% 3% 0 3%;
}

.contact-div{
    width: 100%;
    padding: 3%;
    align-items: space-around;
}

.contact-div div{
    width: 20%;
}

.contact-div div img {
    margin: 0 20%;
    width: 60%;
    border-radius: 50%;
}

#contact h2{
    color: white;
}

#contact p {
    color: white;
    margin: 0;
    padding: 1%;
    text-align: center;
}

.contact-div div h3 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.contact-div div h4{
    color: white;
    text-align: center;
}

.orange-text{
    color: rgb(209, 115, 39);
    font-size: 1.3em
}

.email-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.email-div a{
    width: 4%;
}

.email-div a img{
    width: 100%;
}

.copyright-text{
    margin: 3% 0 0 0 !important;
    color: rgb(151, 150, 150) !important;
}

.back-to-top{
    font-size: 4em;
    position: fixed;
    bottom: 2%;
    left: 95%;
    color: lightgray;
    opacity: 0.7;
}
